@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link rel="stylesheet" href="~/css/estiloHome.css">
@if (SignInManager.IsSignedIn(User)){
<script>
    var elemento = document.getElementById("header_nav");
    elemento.remove();
</script>
<div class="encabezado-titulo" style="align-items:center;">
    <h1>Sistema de Inventario</h1>
</div>
<div class="mover">
    <!-- cambio lugar -->
    <br />
    <br />
    <br />
    <br />
    <div class="top-row">

        <a asp-area="" asp-controller="ENTRADA" asp-action="Index" class="hexagon"><i class="fa-solid fa-arrow-down-long fa-5x" style="color: #000000;"></i>ENTRADAS</a>
        <a asp-area="" asp-controller="PRODUCTO" asp-action="Index" class="hexagon"><i class="fa-solid fa-cart-flatbed fa-5x" style="color: #000000;"></i>INVENTARIO</a>      
        <a asp-area="" asp-controller="SALIDA" asp-action="Index" class="hexagon"><i class="fa-solid fa-arrow-up fa-5x" style="color: #000000;"></i>SALIDAS</a>
    </div>
    <div class="bottom-row">
        <a asp-area="" asp-controller="CLIENTE" asp-action="Index" class="hexagon"><i class="fa-solid fa-user fa-5x" style="color: #000000;"></i>CLIENTES</a>
        <a asp-area="" asp-controller="PRODUCTO" asp-action="Index" class="hexagon"><i class="fa-solid fa-boxes-stacked fa-5x" style="color: #000000;"></i>PRODUCTOS</a>
        <a asp-area="" asp-controller="PROVEEDOR" asp-action="Index" class="hexagon"><i class="fa-solid fa-truck-fast fa-5x" style="color: #000000;"></i>PROVEEDORES</a>
    </div>
</div>
}else{
    <script>
        var elemento = document.getElementById("header_nav");
        elemento.remove();
    </script>
    <header>
        <h1>Sistema de inventario</h1>
    </header>
    <section>
        <p>Bienvenido al sistema de inventario. Este sistema te permite mantener un registro actualizado de tus productos y servicios. Para poder acceder a las funciones de este sistema, es necesario iniciar sesión con tu cuenta.</p>
    </section>
    <footer>
        <p>¡Gracias por utilizar nuestro sistema de inventario!</p>
    </footer>
}