<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventarioWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilos.css">
</head>
<body style="background-color:black">
    <header>
        <div>
            <button class="hamburger-button">
                <span class="hamburger-icon"></span>
            </button>
        </div>
        <div class="sidebar">
            <ul class="menu">
                <li><a href="#">Entradas</a></li>
                <li><a href="#">Salidas</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Proveedores</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - InventarioWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/script.js"></script> <!-- Enlace al archivo JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
