@model MVCInventario.Models.PRODUCTO

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">
</head>
<h1 style="color:black; text-align:center" class="separacion">Crear Producto</h1>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light border rounded">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CODIGOPRODUCTO" class="control-label"></label>
                <input asp-for="CODIGOPRODUCTO" class="form-control" />
                <span asp-validation-for="CODIGOPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOMBREPRODUCTO" class="control-label"></label>
                <input asp-for="NOMBREPRODUCTO" class="form-control" />
                <span asp-validation-for="NOMBREPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DESCRIPCIONPRODUCTO" class="control-label"></label>
                <input asp-for="DESCRIPCIONPRODUCTO" class="form-control" />
                <span asp-validation-for="DESCRIPCIONPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="STOCKPRODUCTO" class="control-label"></label>
                <input asp-for="STOCKPRODUCTO" class="form-control" value="0" />
                <span asp-validation-for="STOCKPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PVPPRODUCTO" class="control-label"></label>
                <input asp-for="PVPPRODUCTO" class="form-control" onkeypress="return limitInputLength(event, this.value, 10) || validateInput(event)"  type="text" />
                <span asp-validation-for="PVPPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CATEGORIAPRODUCTO" class="control-label"></label>
                <input asp-for="CATEGORIAPRODUCTO" class="form-control" />
                <span asp-validation-for="CATEGORIAPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FOTOPRODUCTO" class="control-label"></label>
                <input type="file" accept="image/png, image/jpeg, image/jpg " id="inputFile" />
                <input type="text" asp-for="FOTOPRODUCTO" class="form-control" id="txtFoto" hidden />
                <span asp-validation-for="FOTOPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-primary w-50" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Volver al listado</a>
        </div>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert("@TempData["ErrorMessage"]");
        </script>
    }
</div>
<script>
    const fileInput = document.getElementById("inputFile");
    const txtFoto = document.getElementById("txtFoto")
    fileInput.addEventListener("change", e => {
        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", () => {
            txtFoto.value = reader.result;
            console.log(txtFoto.value);
        })
        reader.readAsDataURL(file);
    })
</script>
<script>
    function validateInput(event) {
        var keyCode = event.keyCode || event.which;
        var keyValue = String.fromCharCode(keyCode);

        // Permitir números, punto decimal y teclas especiales (tabulador, retroceso, eliminar)
        if (!/[\d.]|\t|[\b]|[\x7F]/.test(keyValue)) {
            event.preventDefault();
            return false;
        }

        // Validar que no se ingrese más de un punto decimal
        if (keyValue === "." && event.target.value.includes(".")) {
            event.preventDefault();
            return false;
        }
    }
</script>
<script>
    function limitInputLength(event, value, maxLength) {
        var decimalSeparator = ".";
        var dotIndex = value.indexOf(decimalSeparator);

        if (dotIndex >= 0) {
            // Restringir si se alcanza el límite de dígitos enteros o decimales
            if (dotIndex >= maxLength || value.substring(dotIndex + 1).length >= 2) {
                event.preventDefault();
                return false;
            }
        } else if (value.length >= maxLength) {
            event.preventDefault();
            return false;
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}