@model MVCInventario.Models.SalidaViewModel

@{
    ViewData["Title"] = "Create";
}



<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">

</head>

<h1 style="color:black; text-align:center" class="separacion">Ingrese los datos de la salida</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light border rounded">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Salida.IDCLIENTE" class="control-label">Cédula del cliente</label>
                <!--<select asp-for="Salida.IDCLIENTE" asp-items="Model.NomL" class="form-control"></select>-->
                <input id="codCli" type="text" class="form-control" maxlength="10"  />
                <div id="cli-info">
                    <p style="color:#727581"><span id="name"></span></p>
                </div>
                <input asp-for="Salida.IDCLIENTE" id="id-cli" class="form-control" hidden />
                <span asp-validation-for="Salida.IDCLIENTE" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salida.IDPRODUCTO" class="control-label">Código del producto</label>
                <!--<select asp-for="Salida.IDPRODUCTO" asp-items="Model.ProL" class="form-control"></select>-->
                <input id="codProd" type="text" class="form-control" maxlength="10" />
                <div id="prod-info">
                    <p style="color:#727581"><span id="nameprod"></span></p>
                </div>
                <input asp-for="Salida.IDPRODUCTO" id="id-prod" class="form-control" hidden />
                <span asp-validation-for="Salida.IDPRODUCTO" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="Salida.FECHAREGISTROSALIDA" class="control-label"></label>
                <input asp-for="Salida.FECHAREGISTROSALIDA" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Salida.FECHAREGISTROSALIDA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salida.CANTIDADSALIDA" class="control-label"></label>
                <input asp-for="Salida.CANTIDADSALIDA" class="form-control" id="qntSal" />
                <span asp-validation-for="Salida.CANTIDADSALIDA" class="text-danger"></span>
            </div>
            <!--<div class="form-group" hidden >
                <label asp-for="Salida.MONTOTOTALSALIDA" class="control-label"></label>
                <input asp-for="Salida.MONTOTOTALSALIDA" class="form-control" />
                <span asp-validation-for="Salida.MONTOTOTALSALIDA" class="text-danger"></span>
            </div>-->
            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-primary w-50" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Regresar</a>
        </div>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert("@TempData["ErrorMessage"]");
        </script>
    }
    @if (TempData["Stock"] == null)
    {
        <script>
            localStorage.removeItem('codCli');
            localStorage.removeItem('codProd');
            localStorage.removeItem('qntSal');
        </script>
    }
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#codCli').on('change', function () {
            var id = $(this).val();
            $.ajax({
                url: '@Url.Action("GetCliInfo", "SALIDA")',
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#id-cli').val(result.id);
                        $('#name').text(result.name);
                        $('#cli-info').show();
                    } else {
                        $('#id-cli').val(0);
                        $('#name').text("No se encontró este cliente");
                        $('#cli-info').show();
                    }
                }
            });
        });
        $('#codProd').on('change', function () {
            var id = $(this).val();
            $.ajax({
                url: '@Url.Action("GetProdInfo", "SALIDA")',
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#id-prod').val(result.id);
                        $('#nameprod').text(result.name);
                        $('#prod-info').show();
                    } else {
                        $('#id-prod').val(0);
                        $('#nameprod').text("No se encontró este producto");
                        $('#prod-info').show();
                    }
                }
            });
        });
        var input = document.getElementById('codCli');
        var input2 = document.getElementById('codProd');
        var input3 = document.getElementById('qntSal');
        // Recupera el valor almacenado en el almacenamiento local (si existe)
        var savedValue = localStorage.getItem('codCli');
        var savedValue2 = localStorage.getItem('codProd');
        var savedValue3 = localStorage.getItem('qntSal');
        // Restaura el 2valor guardado en el campo de entrada
        if (savedValue) {
            input.value = savedValue;
        }
        if (savedValue2) {
            input2.value = savedValue2;
        }
        if (savedValue3) {
            input3.value = savedValue3;
        }
        // Escucha el evento 'input' para guardar el valor en el almacenamiento local
        input.addEventListener('input', function () {
            localStorage.setItem('codCli', input.value);
        });
        input2.addEventListener('input', function () {
            localStorage.setItem('codProd', input2.value);
        });
        input3.addEventListener('input', function () {
            localStorage.setItem('qntSal', input3.value);
        });
    </script>
}
