@model MVCInventario.Models.SalidaViewModel

@{
    ViewData["Title"] = "Editar Salida -";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">

</head>

<h1 style="color:black; text-align:center" class="separacion">Edite los datos de la salida</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light border rounded">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Salida.id" />
            <div class="form-group">
                <label asp-for="Salida.IDCLIENTE" class="control-label">Cédula del cliente</label>
                <!--<select asp-for="Salida.IDCLIENTE" asp-items="Model.NomL" class="form-control"></select>-->
                <input id="codCli" type="text" class="form-control" maxlength="10" />
                <div id="cli-info">
                    <p style="color:#727581"><span id="name"></span></p>
                </div>
                <input asp-for="Salida.IDCLIENTE" id="id-cli" class="form-control" hidden />
                <span asp-validation-for="Salida.IDCLIENTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salida.IDPRODUCTO" class="control-label">Código del producto</label>
                <!--<select asp-for="Salida.IDPRODUCTO" asp-items="Model.ProL" class="form-control"></select>-->
                <input id="codProd" type="text" class="form-control" maxlength="10" />
                <div id="prod-info">
                    <p style="color:#727581"><span id="nameprod"></span></p>
                </div>
                <input asp-for="Salida.IDPRODUCTO" id="id-prod" class="form-control" hidden />
                <span asp-validation-for="Salida.IDPRODUCTO" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="Salida.FECHAREGISTROSALIDA" class="control-label"></label>
                <input asp-for="Salida.FECHAREGISTROSALIDA" class="form-control" />
                <span asp-validation-for="Salida.FECHAREGISTROSALIDA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salida.CANTIDADSALIDA" class="control-label"></label>
                <input asp-for="Salida.CANTIDADSALIDA" class="form-control" onkeypress="return limitInputLength(event, this.value, 8)" type="number" />
                <span asp-validation-for="Salida.CANTIDADSALIDA" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Salida.MONTOTOTALSALIDA" class="control-label"></label>
                <input asp-for="Salida.MONTOTOTALSALIDA" class="form-control" />
                <span asp-validation-for="Salida.MONTOTOTALSALIDA" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Guardar" class="btn btn-primary w-50" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Regresar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(window).on('load', function () {
            var id = $('#id-cli').val();
            var idprod = $('#id-prod').val();
            $.ajax({
                url: '@Url.Action("LoadCliInfo", "SALIDA")',
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#codCli').val(result.ced);
                        $('#name').text(result.name);
                        $('#cli-info').show();
                    } else {
                        $('#codCli').val(0);
                        $('#name').text("No se encontró este cliente");
                        $('#cli-info').show();
                    }
                }
            });
            $.ajax({
                url: '@Url.Action("LoadProdInfo", "SALIDA")',
                data: { idprod: idprod },
                success: function (result) {
                    if (result) {
                        $('#codProd').val(result.ced);
                        $('#nameprod').text(result.name);
                        $('#prod-info').show();
                    } else {
                        $('#codProd').val(0);
                        $('#nameprod').text("No se encontró este producto");
                        $('#prod-info').show();
                    }
                }
            });
        });
        $('#codCli').on('change', function () {
            var id = $(this).val();
            $.ajax({
                url: '@Url.Action("GetCliInfo", "SALIDA")',
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#id-cli').val(result.id);
                        $('#name').text(result.name);
                        $('#cli-info').show();
                    } else {
                        $('#id-cli').val(0);
                        $('#name').text("No se encontró este cliente");
                        $('#cli-info').show();
                    }
                }
            });
        });
        $('#codProd').on('change', function () {
            var id = $(this).val();
            $.ajax({
                url: '@Url.Action("GetProdInfo", "SALIDA")',
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#id-prod').val(result.id);
                        $('#nameprod').text(result.name);
                        $('#prod-info').show();
                    } else {
                        $('#id-prod').val(0);
                        $('#nameprod').text("No se encontró este producto");
                        $('#prod-info').show();
                    }
                }
            });
        });
    </script>
    <script>
        function limitInputLength(event, value, maxLength) {
            if (value.length >= maxLength && event.keyCode !== 8 && event.keyCode !== 46) {
                event.preventDefault();
                return false;
            }
        }
    </script>
}
