@model MVCInventario.Models.CLIENTE

@{
    ViewData["Title"] = "Crear Cliente";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">
   
</head>
<h1 style="color:black; text-align:center" class="separacion">Ingrese los datos del cliente</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light border rounded">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CEDULACLIENTE" class="control-label"></label>
                <input asp-for="CEDULACLIENTE" id="cedulatxt" oninput="validarCampoTexto()" onchange="validarCampoTextoDesp()" class="form-control" />
                <span asp-validation-for="CEDULACLIENTE" id="erroreslbl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOMBRECLIENTE" class="control-label">Nombre completo</label>
                <input asp-for="NOMBRECLIENTE" class="form-control" />
                <span asp-validation-for="NOMBRECLIENTE" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-primary w-50" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Volver al listado</a>
        </div>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert("@TempData["ErrorMessage"]");
        </script>
    }
</div>

<script src="~/js/validacionCedula.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }