@model MVCInventario.Models.EntradaViewModel

@{
    ViewData["Title"] = "Crear Entrada -";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Clientes.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />

</head>
<h1 style="color:black; text-align:center" class="separacion">Ingrese los datos de la entrada</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light border rounded">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entrada.IDPROVEEDOR" class="control-label"></label>
                <!-- select asp-for="Entrada.IDPROVEEDOR" asp-items="Model.ListaProveedores" class="form-control" ></select> -->
                <input id="codProv" type="text" class="form-control" maxlength="13" />
                <div id="prov-info">
                    <p style="color:#727581"><span id="name"></span></p>
                </div>

                <input asp-for="Entrada.IDPROVEEDOR" id="id-prov" class="form-control" hidden />
                <span asp-validation-for="Entrada.IDPROVEEDOR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrada.IDPRODUCTO" class="control-label"></label>
                <!--<select asp-for="Entrada.IDPRODUCTO" asp-items="Model.ListaProductos" class="form-control"></select> -->
                <input id="codProd" type="text" class="form-control" maxlength="10" />
                <div id="prod-info">
                    <p style="color:#727581"><span id="nameprod"></span></p>
                </div>
                <input asp-for="Entrada.IDPRODUCTO" id="id-prod" class="form-control" hidden />
                <span asp-validation-for="Entrada.IDPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-group" hidden >
                <label asp-for="Entrada.FECHAREGISTROENTRADA" class="control-label"></label>
                <input asp-for="Entrada.FECHAREGISTROENTRADA" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Entrada.FECHAREGISTROENTRADA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrada.CANTIDADPENTRADA" class="control-label"></label>
                <input asp-for="Entrada.CANTIDADPENTRADA" class="form-control" id="qntEn" onkeypress="return limitInputLength(event, this.value, 8)" type="number" />
                <span asp-validation-for="Entrada.CANTIDADPENTRADA" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Entrada.MONTOTOTALENTRADA" class="control-label"></label>
                <input asp-for="Entrada.MONTOTOTALENTRADA" class="form-control" />
                <span asp-validation-for="Entrada.MONTOTOTALENTRADA" class="text-danger"></span>
            </div>-->
            <div class="form-group text-center">
            <input type="submit" value="Crear" class="btn btn-primary w-50" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Volver al listado</a>
        </div>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert("@TempData["ErrorMessage"]");
        </script>
    }
    @if (TempData["Stock"] == null)
    {
        <script>
            localStorage.removeItem('codProv1');
            localStorage.removeItem('codProd1');
            localStorage.removeItem('qntEn');
        </script>
    }
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />

    <script>
        $('#codProv').on('change', function () {
            var id = $(this).val();
            $.ajax({
                url: '@Url.Action("GetUserInfo", "ENTRADA")',
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#id-prov').val(result.id);
                        $('#name').text(result.name);
                        $('#prov-info').show();
                    } else {
                        $('#id-prod').val(0);
                        $('#name').text("No se encontró este proveedor");
                        $('#prov-info').show();
                    }
                }
            });
        });
        $('#codProd').on('change', function () {
            var id = $(this).val();
            $.ajax({
                url: '@Url.Action("GetProdInfo", "ENTRADA")',
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $('#id-prod').val(result.id);
                        $('#nameprod').text(result.name);
                        $('#prod-info').show();
                    } else {
                        $('#id-prod').val(0);
                        $('#nameprod').text("No se encontró este producto");
                        $('#prod-info').show();
                    }
                }
            });
        });
        var input = document.getElementById('codProv');
        var input2 = document.getElementById('codProd');
        var input3 = document.getElementById('qntEn');
        // Recupera el valor almacenado en el almacenamiento local (si existe)
        var savedValue = localStorage.getItem('codProv1');
        var savedValue2 = localStorage.getItem('codProd1');
        var savedValue3 = localStorage.getItem('qntEn');
        // Restaura el 2valor guardado en el campo de entrada
        if (savedValue) {
            input.value = savedValue;
        }
        if (savedValue2) {
            input2.value = savedValue2;
        }
        if (savedValue3) {
            input3.value = savedValue3;
        }
        // Escucha el evento 'input' para guardar el valor en el almacenamiento local
        input.addEventListener('input', function () {
            localStorage.setItem('codProv1', input.value);
        });
        input2.addEventListener('input', function () {
            localStorage.setItem('codProd1', input2.value);
        });
        input3.addEventListener('input', function () {
            localStorage.setItem('qntEn', input3.value);
        });
    </script>
    <script>
        function validateNumber() {
            var input = document.getElementById("inputNumber");
            var value = input.value;

            if (value.length > 10) {
                input.value = value.slice(0, 10);
            }
        }
    </script>
    <script>
        function limitInputLength(event, value, maxLength) {
            if (value.length >= maxLength && event.keyCode !== 8 && event.keyCode !== 46) {
                event.preventDefault();
                return false;
            }
        }
    </script>
}
