@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<link rel="stylesheet" href="~/css/loginStyle.css">
<script src="https://kit.fontawesome.com/9cd7e81f82.js" crossorigin="anonymous"></script>
<script>
    var elemento = document.getElementById("header_nav");
    elemento.remove();
</script>
<h1>Ingrese sus credenciales </h1>
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
            <form id="account" method="post">
                <div style="text-align:center">
                    <i class="fa-solid fa-circle-user fa-5x" style="color:black;"></i>
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <div style="display: inline-block">
                    <label asp-for="Input.Email" class="form-label" style="display: inline-block;"></label>
                    <i class="fa-solid fa-envelope" style="display: inline-block; margin-left: 0.4em"></i>
                    </div>
                    <input asp-for="Input.Email" type="text" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                <div style="display: inline-block">

                    <label asp-for="Input.Password" class="form-label" style="display: inline-block;" >Contraseña</label>
                        <i class="fa-solid fa-key" style="display: inline-block; margin-left: 0.4em"></i>
                    </div>
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            <!--<div id="recordarmeCh">
                    <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input"  asp-for="Input.RememberMe" />
                            Recordarme
                           
                        </label>
                    </div>
                </div>-->
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar Sesion</button>
                </div>
                <!-- <div>
                    
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse </a>
                    </p>
                   
                </div> -->
                
            </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
