<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventarioWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilos.css">
    <script src="https://kit.fontawesome.com/9cd7e81f82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
</head>
<body style="background-image: url('https://static.vecteezy.com/system/resources/previews/006/469/271/original/abstract-white-background-with-halftone-texture-free-vector.jpg'); background-repeat: no-repeat; background-size: cover; font-family: 'Titillium Web', sans-serif; ">

    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div id="header_nav">
                <div>
                    <button class="hamburger-button" id="boton-nav">
                        <span class="hamburger-icon"></span>
                    </button>
                </div>
                <div class="sidebar">
                    <ul class="menu">
                        <li><a asp-area="" asp-controller="PRODUCTO" asp-action="Index">Inventario</a></li>

                        <li><a asp-area="" asp-controller="SALIDA" asp-action="Index">Salida</a></li>
                        <li><a asp-area="" asp-controller="ENTRADA" asp-action="Index">Entrada</a></li>
                        <li><a asp-area="" asp-controller="PRODUCTO" asp-action="Index">Producto</a></li>

                        <li><a asp-area="" asp-controller="PROVEEDOR" asp-action="Index">Proveedores</a></li>
                        <li><a asp-area="" asp-controller="CLIENTE" asp-action="Index">Clientes</a></li>
                    </ul>
                </div>

            </div>
            <partial name="_LoginPartial" />
        </nav>
       
    </header>
  
    <div class="mover">

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        
    </div>
    <script src="~/js/script.js"></script> <!-- Enlace al archivo JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
