.hexagoncli {
    width: 150px;
    height: 150px;
    background-color: #cdd0d1;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 20px;
    display: inline-block;
    text-align: center;
    line-height: 82px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

    .hexagoncli:hover {
        background-color: #dce1e3;
    }

    .hexagoncli i {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left:55px;
}

    .search-container label {
        margin-right: 10px;
    }

    .search-container input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .search-container button {
        padding: 5px 10px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

.contenedortable {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

    .table caption {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 8px 0px;
    }

    .table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
    }

    .table th, .table td {
        font-size: 16px;
        padding: 8px;
        text-align: center;
    }

    .table thead th {
        text-transform: uppercase;
        background-color: #ddd;
    }

    .table tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .table tbody td:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
/*Creación clientes*/
.listado{
    font-size:1.2rem;
}


@media screen and (max-width: 600px) {
    .titulo{
        font-size:40px;
    }
    .table {
        border: 0px;
    }

        .table caption {
            font-size: 22px;
        }

        .table thead {
            display: none;
        }

        .table tr {
            margin-bottom: 8px;
            border-bottom: 4px solid #ddd;
            display: block;
        }

        .table th, .table td {
            font-size: 12px;
        }

        .table td {
            display: block;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

            .table td:last-child {
                border-bottom: 0px;
            }

            .table td::before {
                content: attr(data-label);
                font-weight: bold;
                text-transform: uppercase;
                float: left;
            }
}

/*Creación clientes*/
@media (max-width: 550px) {
    .separacion {
        margin-left: 1.4em;
    }
}

@media (max-width: 380px) {
    .separacion {
        margin-left: 1.4em;
    }
}