.encabezado-titulo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size:80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #cdd0d1;
}
