@model IEnumerable<MVCInventario.Models.USUARIO>

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/loginStyle.css">
<script src="https://kit.fontawesome.com/9cd7e81f82.js" crossorigin="anonymous"></script>
<script>
    var elemento = document.getElementById("header_nav");
    elemento.remove();
</script>
<!-- cambio lugar -->

<br />
<br />

<div style="text-align:center">
    <i class="fa-solid fa-circle-user fa-5x" style="color:black;"></i>

</div>
<div>
    <form action="" method="post">
        <i class="fa-solid fa-user" style="display: inline-block; margin-right: 0.4em"></i>
        <input style="display: inline-block; width: 90% " type="text" id="usuario" name="usuario" placeholder="Usuario" required>
        <br />
        <i class="fa-solid fa-key" style="display:inline-block; margin-right: 0.4em"></i>
        <input style="display: inline-block; width:90% " type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>

        <input asp-action="Index" asp-controller="Home" type="submit" value="Iniciar sesión">
    </form>
</div>